<%- include('header', {subCat: subCat, mainCat: mainCat, extraCat: extraCat, userImage: userImage});-%>

<div class="container d-md-block justify-content-center d-none my-5">

  <nav class="d-flex flex-row justify-content-between align-items-center px-2 pb-2">
    <p class="m-0 fs-4" style="color: #1a63a6; font-weight: 600;">Nearest Products</p>
    <a href=" /nearest-products" style="color: #1a63a6; font-weight: bold;">See All</a>
  </nav>


  <div class="row row-cols-lg-5 g-4 row-cols-2 row-cols-md-3">
    <!-- per product -->
    <% sortedShops.forEach(sortedShop => { %>
    <div class="col">
      <%- include('./components/product_card.ejs', {
        product_details: sortedShop,
      }) -%>
    </div>
    <% }) %>
    <!-- per product End -->
  </div>
</div>

<!-- Popular Products -->
<div class="container d-md-block justify-content-center d-none mb-2">

  <nav class="d-flex flex-row justify-content-between align-items-center px-2 pb-2">
    <p class="m-0 fs-4" style="color: #1a63a6; font-weight: 600;">Popular Products</p>
    <a href=" /popular-products" style="color: #1a63a6; font-weight: bold;">See All</a>
  </nav>
  <div class="row row-cols-lg-5 g-4 row-cols-2 row-cols-md-3">
    <!-- per product -->
    <% sortedShopsByPopularity.forEach(sortedShopByPopularity => { %>
    <div class="col">
      <%- include('./components/product_card.ejs', {
        product_details: sortedShopByPopularity,
      })  %>
    </div>
    <% }) %>
    <!-- per product End -->
  </div>
</div>

<div class="container d-md-block justify-content-center d-none mb-2">
  <nav class="d-flex flex-row justify-content-between align-items-center px-2 py-2">
    <p class="m-0 fs-4" style="color: #1a63a6; font-weight: 600;">Popular Categories</p>
    <a href="/all-extra-category" style="color: #1a63a6; font-weight: bold;">See All</a>
  </nav>

  <div class="row row-cols-lg-5 g-4 row-cols-2 row-cols-md-3" id="all-category-container">
    <!-- per product -->
    <% for (var i=0; i < trendingCat.length; i++) {%>
    <a href="/product/<%= trendingCat[i].extra_cat_id  %>?name=<%= trendingCat[i].extra_cat_name %>">
      <div class="col mb-5">
        <div class="card rounded-2 bg-transparent overlay-container" style="border-color: #1a63a6">
          <div style="height: 20rem">
            <img src="<%= trendingCat[i].extra_cat_image_url %>" class="card-img h-100 rounded-2"
              style="object-fit: cover" />
          </div>
          <div class="rounded-2 position-absolute overlay d-flex justify-content-center align-items-end pb-3">
            <h5 class="card-title text-white text-center">
              <%= trendingCat[i].extra_cat_name %>
            </h5>
          </div>
        </div>
      </div>
    </a>
    <% } %>
    <!-- per product End -->
  </div>
</div>

<!-- <div class="container d-flex justify-content-center mb-5" style="margin-top: 7%">
  <a href="/all-category" class="text-center btn d-flex align-items-center gap-2 all-category"
    style="border: 1px solid #02436a; color: #02436a">All Category
    <i class="bi bi-arrow-right" style="line-height: 0"></i>
  </a>
</div> -->

<!-- Nearest Products show at mobile devices only -->
<div class="container w-100  d-md-none mb-2">
  <nav class="d-flex flex-row justify-content-between align-items-center px-2 pb-2">
    <p class="m-0 fs-4" style="color: #1a63a6; font-weight: 600;">Nearest Products</p>
    <a href=" /nearest-products" style="color: #1a63a6; font-weight: bold;">See All</a>
  </nav>


  <div class=" d-flex flex-wrap w-100 gy-4">
    <!-- Mobile per product -->
    <% sortedShops.forEach(sortedShop => { %>
    <div class="w-50 p-2 ">
      <%- include('./components/product_card.ejs', {
        product_details: sortedShop,
      })  %>
    </div>
    <% }) %>
    <!-- Mobile per product -->
  </div>
</div>

<!-- Popular Products show at mobile devices only -->
<div class="container w-100  d-md-none my-5">
  <nav class="d-flex flex-row justify-content-between align-items-center px-2 pb-2">
    <p class="m-0 fs-4" style="color: #1a63a6; font-weight: 600;">Popular Products</p>
    <a href=" /popular-products" style="color: #1a63a6; font-weight: bold;">See All</a>
  </nav>

  <div class="d-flex flex-wrap w-100 gy-4">
    <!-- Mobile per product -->
    <% sortedShopsByPopularity.forEach(sortedShopByPopularity => { %>
    <div class="w-50 p-2 ">
      <%- include('./components/product_card.ejs', {
        product_details: sortedShopByPopularity,
      }) -%>
    </div>
    <% }) %>
    <!-- per product End -->
  </div>



</div>

<div class="container w-100  d-md-none mb-2">


  <nav class="d-flex flex-row justify-content-between align-items-center px-2 pb-2">
    <p class="m-0 fs-4" style="color: #1a63a6; font-weight: 600;">Popular Categories</p>
    <a href="/all-extra-category" style="color: #1a63a6; font-weight: bold;">See All</a>
  </nav>

  <div class="d-flex flex-wrap w-100 gy-4">
    <div class="row row-cols-lg-5 g-4 row-cols-2 row-cols-md-3" id="all-category-container">
      <!-- per product -->
      <% for (var i=0; i < trendingCat.length; i++) {%>
      <a href="/product/<%= trendingCat[i].extra_cat_id  %>?name=<%= trendingCat[i].extra_cat_name %>">
        <div class="col mb-5">
          <div class="card rounded-2 bg-transparent overlay-container" style="border-color: #1a63a6">
            <div style="height: 20rem">
              <img src="<%= trendingCat[i].extra_cat_image_url %>" class="card-img h-100 rounded-2"
                style="object-fit: cover" />
            </div>
            <div class="rounded-2 position-absolute overlay d-flex justify-content-center align-items-end pb-3">
              <h5 class="card-title text-white text-center">
                <%= trendingCat[i].extra_cat_name %>
              </h5>
            </div>
          </div>
        </div>
      </a>
      <% } %>
      <!-- per product End -->
    </div>
  </div>



</div>


<%- include('footer', {cart: cart}); -%>