<%- include('header', {subCat: subCat, mainCat: mainCat, extraCat: extraCat, userImage: userImage});-%>

<div class="container d-md-block justify-content-center d-none my-5">

  <nav class="mb-2 d-flex flex-column flex-md-row justify-content-between gap-4 row-gap-2">
    <div>
      <p class="m-0 fs-4" style="color: #1a63a6; font-weight: 600;">Nearest Manufacturer</p>
    </div>
    <div class="d-flex justify-content-start gap-2 mb-3 pb-3" id="nav-tab" role="tablist" style="overflow: auto">
      <a href="/nearest-manufacturer" style="color: #1a63a6;">See All
        <i class="bi bi-arrow-right "></i>
      </a>
    </div>
  </nav>

  <div class="row row-cols-lg-5 g-4 row-cols-2 row-cols-md-3">
    <!-- per product -->
    <% for (var i = 0; (i < sortedShops.length); i++) { %>
    <div class="col">
      <!-- Product_card Design Fix Needed -->
      <%- include('./components/product_card.ejs', {
        product_details: sortedShops[i],
      }); %>
    </div>
    <% } %>
    <!-- per product End -->
  </div>
</div>

<!-- Popular Manufacturer -->
<div class="container d-md-block justify-content-center d-none my-5">
  <nav class="mb-2 d-flex flex-column flex-md-row justify-content-between gap-4 row-gap-2">
    <div>
      <p class="m-0 fs-4" style="color: #1a63a6; font-weight: 600;">Popular Manufacturer</p>
    </div>
    <div class="d-flex justify-content-start gap-2 mb-3 pb-3" id="nav-tab" role="tablist" style="overflow: auto">
      <a href="/popular-manufacturer" style="color: #1a63a6;">See All
        <i class="bi bi-arrow-right "></i>
      </a>
    </div>
  </nav>
  <div class="row row-cols-lg-5 g-4 row-cols-2 row-cols-md-3">
    <!-- per product -->
    <% for (var p = 0; (p < sortedShopsByPopularity.length); p++) { %>
    <div class="col">
      <!-- Product_card Design Fix Needed -->
      <%- include('./components/product_card.ejs', {
        product_details: sortedShopsByPopularity[p],
      }); %>
    </div>
    <% } %>
    <!-- per product End -->
  </div>
</div>

<!-- <div class="container d-flex justify-content-center mb-5" style="margin-top: 7%">
  <a href="/all-category" class="text-center btn d-flex align-items-center gap-2 all-category" style="border: 1px solid #02436a; color: #02436a">All Category
    <i class="bi bi-arrow-right" style="line-height: 0"></i>
  </a>
</div> -->

<!-- Nearest Manufacturer show at mobile devices only -->
<div class="container w-100  d-md-none my-5">
  <nav class="mb-2 d-flex flex-column flex-md-row justify-content-between gap-4 row-gap-2">
    <div>
      <p class="m-0 fs-4" style="color: #1a63a6; font-weight: 600;">Nearest Manufacturer</p>
    </div>
    <div class="d-flex justify-content-start gap-2 mb-3 pb-3" id="nav-tab" role="tablist" style="overflow: auto">
      <a href="/nearest-manufacturer" style="color: #1a63a6;">See All
        <i class="bi bi-arrow-right "></i>
      </a>
    </div>
  </nav>

  <div class="d-flex flex-wrap w-100 gy-4">
    <!-- Mobile per product -->
    <% for (var i = 0; (i < sortedShops.length); i++) { %>
    <div class="w-50 p-2 ">
      <!-- Product_card Design Fix Needed -->
      <%- include('./components/product_card.ejs', {
          product_details: sortedShops[i],
          }); %>
    </div>
    <% } %>
  </div>
  <!-- Mobile per product -->
</div>
</div>

<!-- Popular Manufacturer show at mobile devices only -->
<div class="container w-100  d-md-none my-5">
  <nav class="mb-2 d-flex flex-column flex-md-row justify-content-between gap-4 row-gap-2">
    <div>
      <p class="m-0 fs-4" style="color: #1a63a6; font-weight: 600;">Popular Manufacturer</p>
    </div>
    <div class="d-flex justify-content-start gap-2 mb-3 pb-3" id="nav-tab" role="tablist" style="overflow: auto">
      <a href="/popular-manufacturer" style="color: #1a63a6;">See All
        <i class="bi bi-arrow-right "></i>
      </a>
    </div>
  </nav>

  <div class="d-flex flex-wrap w-100 gy-4">
    <!-- Mobile per product -->
    <% for (var p = 0; (p < sortedShopsByPopularity.length); p++) { %>
    <div class="w-50 p-2 ">
      <!-- Product_card Design Fix Needed -->
      <%- include('./components/product_card.ejs', {
      product_details: sortedShopsByPopularity[p],
      }); %>
    </div>
    <% } %>
    <!-- per product End -->
  </div>
</div>


<%- include('footer', {cart: cart}); -%>