<%- include('../header-one'),{menuId:menuId}; -%>
<!-- Main Body Section -->
<div class="w-100 bg-light">
  <!-- Header Section -->
  <!-- <header class="d-flex justify-content-between px-5 border-bottom py-3"
        style="z-index: 100">
        <p class="fw-medium fs-2 m-0 z-3">Orders</p>
        <button class="btn btn-outline-secondary fs-4 d-lg-none dashboard-opener">
          <i class="bi bi-list"></i>
        </button>
      </header>
  -->
  <link rel="stylesheet" type="text/css" href="./css/daterangepicker.css" />
  <%- include('../dashboard-topbar'),{menuId:menuId}; -%>


  <%
  var orderCount = [0, 0, 0, 0, 0, 0];
  var totalPrice = [0, 0, 0, 0, 0, 0];
  var review = 0;
  for (var i = 0; i < order.length; i++) {
    if (order[i].in_cart == 0) {
      review = review + order[i].request_review;
      var matchingOrderDetails = orderDetails.filter(function(detail) {
        return detail.order_id === order[i].order_id;
      });
      if (matchingOrderDetails.length > 0 && !order[i].request_review) {
        orderCount[order[i].order_status - 1]++;
        matchingOrderDetails.forEach(function(detail) {
          totalPrice[order[i].order_status - 1] += detail.product_total_price;
        });
        totalPrice[order[i].order_status - 1] += order[i].deliveryCharge;
      }
    }
  }
%>


  <!-- tab section -->
  <div class=" my-5 px-2 mt-5">
    <nav class="mb-4 w-100 px-lg-5 py-5 py-lg-0 overflow-x-auto">

      <div class="row">
        <div class="col-sm-3 text-start">
          <div class="input-group mb-3">
            <input id="search_text" type="text" class="form-control w-10" placeholder="Search Order ID"
              aria-label="Search">
          </div>
        </div>
        <div class="col-sm-6 text-start">
          <!-- Empty space -->
        </div>

        <div class="col-sm-3 text-end">
          <!-- filter button -->
          <div id="reportrange" class="input-group mb-4">
            <i class="bi bi-calendar"></i>&nbsp;
            <span>Filter</span>&nbsp;<i class="bi bi-caret-down-fill"></i>
          </div>
        </div>
      </div>

      <div class="d-flex gap-2 fs-6 products-tab " id="nav-tab" role="tablist">
        <a class="nav-link active btn p-2 px-3" id="nav-description-tab" data-bs-toggle="tab"
          data-bs-target="#review-order" type="button">
          Pending (<%= review %>)
        </a>
        <a class="nav-link btn p-2 px-3" id="nav-reviews-tab" data-bs-toggle="tab" data-bs-target="#new-order"
          type="button">
          Accept (<%= orderCount[2]  %>) </br> [<%= (totalPrice[2] * currRate).toFixed(2) %> <%= currencyCode  %> ]
        </a>
        <a class="nav-link btn p-2 px-3" id="nav-questions-tab" data-bs-toggle="tab" data-bs-target="#accept-order"
          type="button">
          Shipped (<%= orderCount[3]  %>) </br> [<%= (totalPrice[3] * currRate).toFixed(2) %> <%= currencyCode  %>
          ]
        </a>
        <a class="nav-link btn p-2 px-3" id="nav-questions-tab" data-bs-toggle="tab" data-bs-target="#confirmed-order"
          type="button">
          Completed (<%= orderCount[0]  %>) </br> [<%= (totalPrice[0] * currRate).toFixed(2) %>
          <%= currencyCode  %> ]
        </a>
        <a class="nav-link btn p-2 px-3" id="nav-questions-tab" data-bs-toggle="tab" data-bs-target="#rejected-order"
          type="button">
          Cancel (<%= orderCount[1]  %>) </br> [<%= (totalPrice[1] * currRate).toFixed(2) %>
          <%= currencyCode  %> ]
        </a>
        <!-- <a class="nav-link btn p-2 px-3" id="nav-questions-tab" data-bs-toggle="tab" data-bs-target="#returned-order"
          type="button">
          Returned (<%= orderCount[4]  %>) </br> [<%= (totalPrice[4] * currRate).toFixed(2) %>
          <%= currencyCode  %> ]
        </a> -->
      </div>

    </nav>
    <div class="tab-content w-100 px-5" id="nav-tabContent">
      <!-- review order -->
      <div class="tab-pane fade show active  rounded-3" id="review-order" role="tabpanel" tabindex="0">
        <div class="row">
          <div class="col-md-12">
            <div class="table-wrap" style="overflow-x: auto;">
              <table class="table table-responsive">
                <thead>
                  <tr>
                    <!-- <th scope="col"><label class="checkbox-wrap checkbox-primary m-2">
                        <input type="checkbox" class="selectAll1">
                        <span class="checkmark"></span>
                      </label></th> -->
                    <th scope="col">Order ID</th>

                    <th scope="col">Placed Date</th>
                    <!-- <th scope="col">Delivey Date</th> -->

                    <th scope="col">Shop Info</th>

                    <th scope="col" hidden>Total Price</th>

                    <th scope="col">Product Price</th>
                    <th scope="col">Shipping Charge</th>
                    <!-- <th scope="col">Status</th> -->

                    <th scope="col" hidden>product name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>

                  </tr>
                </thead>
                <tbody>

                  <% for (var i=0; i < order.length; i++) { %>
                  <% if (order[i].in_cart == 0) { %>
                  <% var oID=0 %>
                  <% if (order[i].request_review==1 && order[i].order_status==3) { %>
                  <tr>

                    <!-- <td style="vertical-align: middle;">
                      <label class="checkbox-wrap checkbox-primary m-2">
                        <input type="checkbox" class="orderCheckbox1">
                        <span class="checkmark"></span>
                      </label>
                    </td> -->
                    <td style="vertical-align: middle;">
                      <%= order[i].order_id %>
                    </td>

                    <td style="vertical-align: middle;">
                      <%= order[i].placed_date.toISOString().split('T')[0] %></td>
                    <!-- <td style="vertical-align: middle;">
                      <%= order[i].delivery_date.toISOString().split('T')[0] %></td> -->
                    <!-- <td style="vertical-align: middle;">
                      <% for (var j=0; j < orderDetails.length; j++) { %>
                      <% if (orderDetails[j].order_id==order[i].order_id) { %>
                      <% if (orderDetails[j].stock_out==1) {
                                                                          %>
                      <span class="badge rounded-pill text-bg-danger">Stock
                        Out</span>
                      <% } else { %>
                      <span class="badge rounded-pill text-bg-success">Available</span>
                      <% } %>
            </div>
            <% } %>
            <% } %>
            </td> -->

                    <td style="vertical-align: middle;">

                      <p><%= order[i].shop_name %></p>
                      <p><%= order[i].shop_number %></p>

                    </td>


                    <td style="vertical-align: middle;" hidden>
                      <% var total_price= 0 %>
                      <% var current_order_details = orderDetails.filter(detail => detail.order_id === order[i].order_id) %>
                      <% for (var j=0; j < current_order_details.length; j++) { %>
                      <% if (current_order_details[j].stock_out==0) { %>
                      <% total_price= ((parseFloat(total_price) + parseFloat(current_order_details[j].product_price) * parseFloat(current_order_details[j].product_quantity)  * currRate)).toFixed(2) %>
                      <% } %>
                      <% } %>
                      <p><%= total_price %></p>
                    </td>

                    <td style="vertical-align: middle;">
                      <%= (parseFloat(total_price) ).toFixed(2) %>
                    </td>
                    <td style="vertical-align: middle;">
                      <% deliveryCharge = (parseFloat(order[i].deliveryCharge) * currRate).toFixed(2) %>
                      <p>
                        <%= deliveryCharge %>
                      </p>
                    </td>
                    <!-- <td style="vertical-align: middle;" data-status="<%= order[i].is_paid %>""><% if (order[i].is_paid==0) { %>
                                  <span class=" badge rounded-pill"
                      style="background-color: rgb(249, 181, 181); color: rgb(170, 29, 29);">Unpaid</span>
                      <% } else if (order[i].is_paid==1) { %>
                      <span class="badge rounded-pill"
                        style="background-color: rgb(169, 241, 217); color: darkgreen;">Paid</span>
                      <% } else if (order[i].is_paid==2) { %>
                      <abbr title="Cash On Delivery" class="badge rounded-pill"
                        style="background-color: rgb(185, 169, 241); color: rgb(31, 13, 224);">COD</abbr>
                      <% } %>
                      <% if (order[i].seller_confirm == 0) { %>
                      <span class="badge rounded-pill"
                        style="background-color:bisque; color:rgb(138, 101, 5)">Unchecked</span>
                      <% } %>
                    </td> -->
                    <td hidden>
                      <% for (var j=0; j < orderDetails.length; j++) { %>
                      <% if (orderDetails[j].order_id==order[i].order_id) { %>

                      <%= orderDetails[j].product_name %> x<%= orderDetails[j].product_quantity %>
                      <% } %>
                      <% } %>
                    </td>
                    <td style="vertical-align: middle;">
                      <p><%= order[i].seller_confirm == 0 ? 'Pending' : 'Available' %></p>
                    </td>
                    <td style="vertical-align: middle;"><a href="/purchase_details/<%= order[i].order_id %>"
                        class="btn border fw-semibold view-eye-btn">
                        <i class="bi bi-eye"></i>

                      </a></td>

                  </tr>
                  <% } %>
                  <% } %>
                  <% } %>

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="mt-5">
          <!-- Start of Single Order -->
          <!-- <% for (var j=0; j < order.length; j++) { %>
          <% if (order[j].request_review==1 && order[j].order_status==3) { %>
          <div class="w-100 mb-4 order">

            <div class="w-100 text-secondary d-flex flex-column flex-lg-row fs-6">
              <p id="order_id" class="border-lg-end border-secondary pe-5">
                Order ID: <%= order[j].order_id %>
              </p>
              <p id="order_date" class="border-lg-end border-secondary px-lg-5">
                Placed Date : <%= (order[j].placed_date).toISOString().substr(0,10)
                            %>
              </p>
              <p class="border-lg-end border-secondary px-lg-5 ">Delivery Date : <%=
                            (order[j].delivery_date).toISOString().substr(0,10) %>
              </p>
              <p class="border-lg-end border-secondary px-lg-5 ">Product Price :
                <%= (total_price[order[j].order_id] * currRate).toFixed(2) %>
                <%= currencyCode %>
              </p>
              <p class="border-lg-end border-secondary ps-lg-5">Delivery Price : <%= (order[j].deliveryCharge *
                            currRate).toFixed(2) %>
                <%= currencyCode %>
              </p>
              <p class="border-lg-end border-secondary ps-lg-5">Shop Name : <%= (order[j].shop_name) %>
              </p>
              <p class="ps-lg-5">Seller Contact : <%= (order[j].shop_number) %>
              </p>
            </div>


            <div
              class="py-2 w-100 d-flex justify-content-between align-items-start border-bottom border-secondary-subtle">
              <div class="d-flex flex-column gap-2">

                <% for (var i=0; i < orderDetails.length; i++) { %>
                <% if (orderDetails[i].order_id==order[j].order_id) { %>
                <div class="d-flex gap-2 align-items-start">
                  <% for (var k=0; k < image.length; k++) { %>
                  <% if (image[k].product_id==orderDetails[i].product_id) { %>
                  <img src="<%= image[k].product_image_url %>" style="width: 4rem" />
                  <% } %>
                  <% } %>
                  <div class="d-flex-flex-column">
                    <a class="text-black"
                      href="/product-details/<%= orderDetails[i]?.product_name %>/<%= encodeURIComponent(orderDetails[i].product_id) %>">
                      <p class="m-0">
                        <%= orderDetails[i].product_name %>
                      </p>
                    </a>
                    <p>x<%= orderDetails[i].product_quantity %>
                    </p>
                  </div>
                  <% if (orderDetails[i].stock_out==1) {
                                            %>
                  <span class="badge rounded-pill text-bg-danger">Stock
                    Out</span>
                  <% } else { %>
                  <span class="badge rounded-pill text-bg-success">Available</span>
                  <% } %>
                </div>
                <% } %>
                <% } %> -->
          <!-- Single Product -->


          <!-- </div>
              <% if (order[j].seller_confirm==1) { %>
              <div class="d-flex gap-2">
                <a href="/user_delOrder/<%= order[j].order_id %>"
                  class="btn btn-outline-danger d-flex align-items-center gap-2">
                  Cancel Order
                  <i class="bi bi-trash"></i>
                </a>
                <a href="/user_acceptOrder/<%= order[j].order_id %>"
                  class="btn btn-outline-success d-flex align-items-center gap-2">
                  Accept Order
                  <i class="bi bi-cart-check"></i>
                </a>
              </div>
              <% } %>
            </div>
          </div>
          <% } %>
          <% } %> -->
          <!-- Ending of Single Order -->
        </div>
      </div>


      <!-- new order -->
      <div class="tab-pane fade" id="new-order" role="tabpanel" tabindex="0">
        <div class="mt-5 ">

          <div class="row">
            <div class="col-md-12">
              <div class="table-wrap" style="overflow-x: auto;">
                <table class="table table-responsive">
                  <thead>
                    <tr>

                      <th scope="col">Order</th>
                      <th scope="col">Placed Date</th>
                      <!-- <th scope="col">Delivey Date</th> -->
                      <th scope="col">Shop Name</th>
                      <th scope="col">Shop Contact Number</th>
                      <th scope="col" hidden>Total Price</th>

                      <th scope="col">Total Order Price</th>
                      <th scope="col">Delivery Charge</th>
                      <!-- <th scope="col">Status</th> -->

                      <th scope="col" hidden>product name</th>
                      <th scope="col">Action</th>

                    </tr>
                  </thead>
                  <tbody>

                    <% for (var i=0; i < order.length; i++) { %>
                    <!-- <% if (order[i].in_cart == 0) { %>
                    <% var oID=0 %> -->
                    <% if (order[i].order_status==3 && order[i].in_cart == 0 && order[i].request_review==0 && orderCount[2]) { %>
                    <tr>


                      <td style="vertical-align: middle;">
                        <%= order[i].order_id %>
                      </td>

                      <td style="vertical-align: middle;">
                        <%= order[i].placed_date.toISOString().split('T')[0] %></td>
                      <!-- <td style="vertical-align: middle;">
                        <%= order[i].delivery_date.toISOString().split('T')[0] %></td> -->
                      <td style="vertical-align: middle;">

                        <%= order[i].shop_name %>


                      </td>
                      <td style="vertical-align: middle;">

                        <%= order[i].shop_number %>


                      </td>

                      <td style="vertical-align: middle;" hidden>
                        <% var total_price= 0 %>
                        <% var current_order_details = orderDetails.filter(detail => detail.order_id === order[i].order_id) %>
                        <% for (var j=0; j < current_order_details.length; j++) { %>
                        <% if (current_order_details[j].stock_out==0) { %>
                        <% total_price= ((parseFloat(total_price) + parseFloat(current_order_details[j].product_price) * parseFloat(current_order_details[j].product_quantity)  * currRate)).toFixed(2) %>
                        <% } %>
                        <% } %>
                        <p><%= total_price %></p>
                      </td>

                      <td style="vertical-align: middle;">
                        <%= (parseFloat(total_price) ).toFixed(2) %>
                      </td>
                      <td style="vertical-align: middle;">
                        <% deliveryCharge = (parseFloat(order[i].deliveryCharge) * currRate).toFixed(2) %>
                        <p>
                          <%= deliveryCharge %>
                        </p>
                      </td>
                      <!-- <td style="vertical-align: middle;" data-status="<%= order[i].is_paid %>""><% if (order[i].is_paid==0) { %>
                                                      <span class=" badge rounded-pill"
                                          style="background-color: rgb(249, 181, 181); color: rgb(170, 29, 29);">Unpaid</span>
                                          <% } else if (order[i].is_paid==1) { %>
                                          <span class="badge rounded-pill"
                                            style="background-color: rgb(169, 241, 217); color: darkgreen;">Paid</span>
                                          <% } else if (order[i].is_paid==2) { %>
                                          <abbr title="Cash On Delivery" class="badge rounded-pill"
                                            style="background-color: rgb(185, 169, 241); color: rgb(31, 13, 224);">COD</abbr>
                                          <% } %>
                                          <% if (order[i].seller_confirm == 0) { %>
                                          <span class="badge rounded-pill"
                                            style="background-color:bisque; color:rgb(138, 101, 5)">Unchecked</span>
                                          <% } %>
                                        </td> -->
                      <td hidden>
                        <% for (var j=0; j < orderDetails.length; j++) { %>
                        <% if (orderDetails[j].order_id==order[i].order_id) { %>

                        <%= orderDetails[j].product_name %> x<%= orderDetails[j].product_quantity %>
                        <% } %>
                        <% } %>
                      </td>
                      <td style="vertical-align: middle;"><a href="/purchase_details/<%= order[i].order_id %>"
                          class="btn border fw-semibold view-eye-btn">
                          <i class="bi bi-eye"></i>

                        </a></td>

                    </tr>
                    <% } %>
                    <% } %>
                    <!-- <% } %> -->

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- Start of Single Order -->
          <!-- <% for (var i=0; i < order.length; i++) { %>
          <% if (order[i].order_status==3 && order[i].in_cart == 0 && order[i].request_review==0 && orderCount[2]) { %>
          <div class="w-100 mb-4 order">

            <div class="w-100 text-secondary d-flex flex-column flex-lg-row fs-6">
              <p id="order_id" class="border-lg-end border-secondary pe-5">
                Order ID: <%= order[i].order_id %>
              </p>
              <p id="order_date" class="border-lg-end border-secondary px-lg-5">
                Placed Date : <%= (order[i].placed_date).toISOString().substr(0,10)
                            %>
              </p>
              <p class="border-lg-end border-secondary px-lg-5">Delivery Date : <%=
                            (order[i].delivery_date).toISOString().substr(0,10) %>
              </p>
              <p class="border-lg-end border-secondary px-lg-5 ">Product Price :
                <%= (total_price[order[i].order_id] * currRate).toFixed(2) %>
                <%= currencyCode %>
              </p>
              <p class="ps-lg-5">Delivery Price : <%= (order[i].deliveryCharge *
                            currRate).toFixed(2) %>
                <%= currencyCode %>
              </p>
            </div>
        
            <div
              class="py-2 w-100 d-flex justify-content-between align-items-start border-bottom border-secondary-subtle">
              <div class="d-flex flex-column gap-2">
            
                <% for (var j=0; j < orderDetails.length; j++) { %>
                <% if (orderDetails[j].order_id==order[i].order_id) { %>
                <div class="d-flex gap-2 align-items-start">
                  <% for (var k=0; k < image.length; k++) { %>
                  <% if
                                    (image[k].product_id==orderDetails[j].product_id)
                                    { %>
                  <img src="<%= image[k].product_image_url %>" style="width: 4rem" />
                  <% } %>
                  <% } %>
                  <div class="d-flex-flex-column">
                    <a class="text-black"
                      href="/product-details/<%= orderDetails[j].product_name %>/<%= encodeURIComponent(orderDetails[j].product_id) %>">
                      <p class="m-0">
                        <%= orderDetails[j].product_name
                                                %>
                      </p>
                    </a>
                    <p>x<%= orderDetails[j].product_quantity
                                              %>
                    </p>
                  </div>
                </div>
                <% } %>
                <% } %>
          


              </div>
              <div class="d-flex gap-2">
              <button
                class="btn btn-outline-primary d-flex align-items-center gap-2"
              >
                View Order
                <i class="bi bi-eye"></i>
              </button>
            </div>
            </div>
          </div>
          <% } %>
          <% } %> -->
          <!-- Ending of Single Order -->
        </div>




      </div>

      <!-- shipped order -->
      <div class="tab-pane fade" id="accept-order" role="tabpanel" tabindex="0">
        <div class="mt-5">

          <div class="row">
            <div class="col-md-12">
              <div class="table-wrap" style="overflow-x: auto;">
                <table class="table table-responsive">
                  <thead>
                    <tr>

                      <th scope="col">Order</th>
                      <th scope="col">Placed Date</th>
                      <!-- <th scope="col">Delivey Date</th> -->
                      <th scope="col">Shop Name</th>
                      <th scope="col">Shop Contact Number</th>
                      <th scope="col" hidden>Total Price</th>

                      <th scope="col">Total Order Price</th>
                      <th scope="col">Delivery Charge</th>
                      <!-- <th scope="col">Status</th> -->

                      <th scope="col" hidden>product name</th>
                      <th scope="col">Action</th>

                    </tr>
                  </thead>
                  <tbody>

                    <% for (var i=0; i < order.length; i++) { %>
                    <!-- <% if (order[i].in_cart == 0) { %>
                    <% var oID=0 %> -->
                    <% if (order[i].order_status==4 && order[i].request_review==0) { %>
                    <tr>


                      <td style="vertical-align: middle;">
                        <%= order[i].order_id %>
                      </td>

                      <td style="vertical-align: middle;">
                        <%= order[i].placed_date.toISOString().split('T')[0] %></td>
                      <!-- <td style="vertical-align: middle;">
                        <%= order[i].delivery_date.toISOString().split('T')[0] %></td> -->
                      <td style="vertical-align: middle;">

                        <%= order[i].shop_name %>


                      </td>
                      <td style="vertical-align: middle;">

                        <%= order[i].shop_number %>


                      </td>

                      <td style="vertical-align: middle;" hidden>
                        <% var total_price= 0 %>
                        <% var current_order_details = orderDetails.filter(detail => detail.order_id === order[i].order_id) %>
                        <% for (var j=0; j < current_order_details.length; j++) { %>
                        <% if (current_order_details[j].stock_out==0) { %>
                        <% total_price= ((parseFloat(total_price) + parseFloat(current_order_details[j].product_price) * parseFloat(current_order_details[j].product_quantity)  * currRate)).toFixed(2) %>
                        <% } %>
                        <% } %>
                        <p><%= total_price %></p>
                      </td>

                      <td style="vertical-align: middle;">
                        <%= (parseFloat(total_price) ).toFixed(2) %>
                      </td>
                      <td style="vertical-align: middle;">
                        <% deliveryCharge = (parseFloat(order[i].deliveryCharge) * currRate).toFixed(2) %>
                        <p>
                          <%= deliveryCharge %>
                        </p>
                      </td>
                      <!-- <td style="vertical-align: middle;" data-status="<%= order[i].is_paid %>""><% if (order[i].is_paid==0) { %>
                                                      <span class=" badge rounded-pill"
                                          style="background-color: rgb(249, 181, 181); color: rgb(170, 29, 29);">Unpaid</span>
                                          <% } else if (order[i].is_paid==1) { %>
                                          <span class="badge rounded-pill"
                                            style="background-color: rgb(169, 241, 217); color: darkgreen;">Paid</span>
                                          <% } else if (order[i].is_paid==2) { %>
                                          <abbr title="Cash On Delivery" class="badge rounded-pill"
                                            style="background-color: rgb(185, 169, 241); color: rgb(31, 13, 224);">COD</abbr>
                                          <% } %>
                                          <% if (order[i].seller_confirm == 0) { %>
                                          <span class="badge rounded-pill"
                                            style="background-color:bisque; color:rgb(138, 101, 5)">Unchecked</span>
                                          <% } %>
                                        </td> -->
                      <td hidden>
                        <% for (var j=0; j < orderDetails.length; j++) { %>
                        <% if (orderDetails[j].order_id==order[i].order_id) { %>

                        <%= orderDetails[j].product_name %> x<%= orderDetails[j].product_quantity %>
                        <% } %>
                        <% } %>
                      </td>
                      <td style="vertical-align: middle;"><a href="/purchase_details/<%= order[i].order_id %>"
                          class="btn border fw-semibold view-eye-btn">
                          <i class="bi bi-eye"></i>

                        </a></td>

                    </tr>
                    <% } %>
                    <% } %>
                    <!-- <% } %> -->

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- Start of Single Order -->
          <!-- <% for (var i=0; i < order.length; i++) { %>
          <% if (order[i].order_status==4 && order[i].request_review==0) { %>
          <div class="w-100 mb-4 order">

            <div class="w-100 text-secondary d-flex flex-column flex-lg-row fs-6">
              <p id="order_id" class="border-lg-end border-secondary pe-5">
                Order ID: <%= order[i].order_id %>
              </p>
              <p id="order_date" class="border-lg-end border-secondary px-lg-5">
                Placed Date : <%= (order[i].placed_date).toISOString().substr(0,10)
                            %>
              </p>
              <p class="border-lg-end border-secondary px-lg-5">Delivery Date : <%=
                            (order[i].delivery_date).toISOString().substr(0,10) %>
              </p>
              <p class="border-lg-end border-secondary px-lg-5 ">Product Price :
                <%= (total_price[order[i].order_id] * currRate).toFixed(2) %>
                <%= currencyCode %>
              </p>
              <p class="ps-lg-5">Delivery Price : <%= (order[i].deliveryCharge *
                            currRate).toFixed(2) %>
                <%= currencyCode %>
              </p>
            </div>
         
            <div
              class="py-2 w-100 d-flex justify-content-between align-items-start border-bottom border-secondary-subtle">
              <div class="d-flex flex-column gap-2">
          
                <% for (var j=0; j < orderDetails.length; j++) { %>
                <% if (orderDetails[j].order_id==order[i].order_id) { %>
                <div class="d-flex gap-2 align-items-start">
                  <% for (var k=0; k < image.length; k++) { %>
                  <% if (image[k].product_id==orderDetails[j].product_id) { %>
                  <img src="<%= image[k].product_image_url %>" style="width: 4rem" />
                  <% } %>
                  <% } %>
                  <div class="d-flex-flex-column">
                    <a class="text-black"
                      href="/product-details/<%= orderDetails[j].product_name %>/<%= encodeURIComponent(orderDetails[j].product_id) %>">
                      <p class="m-0">
                        <%= orderDetails[j].product_name %>
                      </p>
                    </a>
                    <p>
                    <form method="POST"
                      action="/updateOrder/<%= orderDetails[j].order_details_id %>/<%= orderDetails[j].product_cat_id %>/0">
                      x &nbsp; <input type="number" min="0" class="color1" name="update_quantity"
                        style="width: 30px; text-align: center;" value="<%= orderDetails[j].product_quantity %>">
                      <button title="update quantity" type="submit" class="btn btn-outline-primary"><i
                          class="bi bi-arrow-repeat"></i></button>
                    </form>
                    </p>
                  </div>
                </div>
                <% } %>
                <% } %>
   
              </div>
              <div id="divForReturn_<%= order[i].order_id %>">
                <a id="returnOrderBtn_<%= order[i].order_id %>" data-index="<%= order[i].order_id %>">
                  <button class="btn btn-outline-danger">Return</button>
                </a>
                <a class="" href="/order_details/<%= order[i].order_id %>/1">
                  <button class="btn btn-outline-success">Complete Order</button>
                </a>
              </div>
            </div>
          </div>
          <% } %>
          <% } %> -->

        </div>

      </div>



      <!-- confirmed-order -->
      <div class="tab-pane fade" id="confirmed-order" role="tabpanel" tabindex="0">
        <div class="mt-5">

          <div class="row">
            <div class="col-md-12">
              <div class="table-wrap" style="overflow-x: auto;">
                <table class="table table-responsive">
                  <thead>
                    <tr>

                      <th scope="col">Order</th>
                      <th scope="col">Placed Date</th>
                      <th scope="col">Shipping Date</th>
                      <th scope="col">Shop Name</th>
                      <th scope="col">Shop Contact Number</th>
                      <th scope="col" hidden>Total Price</th>

                      <th scope="col">Total Order Price</th>
                      <th scope="col">Delivery Charge</th>
                      <!-- <th scope="col">Status</th> -->

                      <th scope="col" hidden>product name</th>
                      <th scope="col">Action</th>

                    </tr>
                  </thead>
                  <tbody>

                    <% for (var i=0; i < order.length; i++) { %>
                    <!-- <% if (order[i].in_cart == 0) { %>
                    <% var oID=0 %> -->
                    <% if (order[i].order_status==1 && order[i].request_review==0 && orderCount[0]) { %>
                    <tr>


                      <td style="vertical-align: middle;">
                        <%= order[i].order_id %>
                      </td>

                      <td style="vertical-align: middle;">
                        <%= order[i].placed_date.toISOString().split('T')[0] %></td>
                      <td style="vertical-align: middle;">
                        <%= order[i].complete_date ? order[i].complete_date.toISOString().split('T')[0] : 'null' %>
                      </td>
                      <td style="vertical-align: middle;">

                        <%= order[i].shop_name %>


                      </td>
                      <td style="vertical-align: middle;">

                        <%= order[i].shop_number %>


                      </td>

                      <td style="vertical-align: middle;" hidden>
                        <% var total_price= 0 %>
                        <% var current_order_details = orderDetails.filter(detail => detail.order_id === order[i].order_id) %>
                        <% for (var j=0; j < current_order_details.length; j++) { %>
                        <% if (current_order_details[j].stock_out==0) { %>
                        <% total_price= ((parseFloat(total_price) + parseFloat(current_order_details[j].product_price) * parseFloat(current_order_details[j].product_quantity)  * currRate)).toFixed(2) %>
                        <% } %>
                        <% } %>
                        <p><%= total_price %></p>
                      </td>

                      <td style="vertical-align: middle;">
                        <%= (parseFloat(total_price) ).toFixed(2) %>
                      </td>
                      <td style="vertical-align: middle;">
                        <% deliveryCharge = (parseFloat(order[i].deliveryCharge) * currRate).toFixed(2) %>
                        <p>
                          <%= deliveryCharge %>
                        </p>
                      </td>
                      <!-- <td style="vertical-align: middle;" data-status="<%= order[i].is_paid %>""><% if (order[i].is_paid==0) { %>
                                                      <span class=" badge rounded-pill"
                                          style="background-color: rgb(249, 181, 181); color: rgb(170, 29, 29);">Unpaid</span>
                                          <% } else if (order[i].is_paid==1) { %>
                                          <span class="badge rounded-pill"
                                            style="background-color: rgb(169, 241, 217); color: darkgreen;">Paid</span>
                                          <% } else if (order[i].is_paid==2) { %>
                                          <abbr title="Cash On Delivery" class="badge rounded-pill"
                                            style="background-color: rgb(185, 169, 241); color: rgb(31, 13, 224);">COD</abbr>
                                          <% } %>
                                          <% if (order[i].seller_confirm == 0) { %>
                                          <span class="badge rounded-pill"
                                            style="background-color:bisque; color:rgb(138, 101, 5)">Unchecked</span>
                                          <% } %>
                                        </td> -->
                      <td hidden>
                        <% for (var j=0; j < orderDetails.length; j++) { %>
                        <% if (orderDetails[j].order_id==order[i].order_id) { %>

                        <%= orderDetails[j].product_name %> x<%= orderDetails[j].product_quantity %>
                        <% } %>
                        <% } %>
                      </td>
                      <td style="vertical-align: middle;"><a href="/purchase_details/<%= order[i].order_id %>"
                          class="btn border fw-semibold view-eye-btn">
                          <i class="bi bi-eye"></i>

                        </a></td>

                    </tr>
                    <% } %>
                    <% } %>
                    <!-- <% } %> -->

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- Start of Single Order -->
          <!-- <% for (var i=0; i < order.length; i++) { %>
          <% if (order[i].order_status==1 && order[i].request_review==0) { %>
          <div class="w-100 mb-4 order">
   
            <div class="w-100 text-secondary d-flex flex-column flex-lg-row fs-6">
              <p id="order_id" class="border-lg-end border-secondary pe-5">
                Order ID: <%= order[i].order_id %>
              </p>
              <p id="order_date" class="border-lg-end border-secondary px-lg-5">
                Placed Date : <%= (order[i].placed_date).toISOString().substr(0,10)
                            %>
              </p>
              <p class="border-lg-end border-secondary px-lg-5">Delivery Date : <%=
                            (order[i].delivery_date).toISOString().substr(0,10) %>
              </p>
              <p class="border-lg-end border-secondary px-lg-5 ">Product Price :
                <%= (total_price[order[i].order_id] * currRate).toFixed(2) %>
                <%= currencyCode %>
              </p>
              <p class="ps-lg-5">Delivery Price : <%= (order[i].deliveryCharge *
                            currRate).toFixed(2) %>
                <%= currencyCode %>
              </p>
            </div>
  
            <div
              class="py-2 w-100 d-flex justify-content-between align-items-start border-bottom border-secondary-subtle">
              <div class="d-flex flex-column gap-2">
       
                <% for (var j=0; j < orderDetails.length; j++) { %>
                <% if (orderDetails[j].order_id==order[i].order_id) { %>
                <div class="d-flex gap-2 align-items-start">
                  <% for (var k=0; k < image.length; k++) { %>
                  <% if
                                    (image[k].product_id==orderDetails[j].product_id)
                                    { %>
                  <img src="<%= image[k].product_image_url %>" style="width: 4rem" />
                  <% } %>
                  <% } %>
                  <div class="d-flex-flex-column">
                    <a class="text-black"
                      href="/product-details/<%= orderDetails[j].product_name %>/<%= encodeURIComponent(orderDetails[j].product_id) %>">
                      <p class="m-0">
                        <%= orderDetails[j].product_name
                                              %>
                      </p>
                    </a>
                    <p>x<%= orderDetails[j].product_quantity
                                              %>
                    </p>
                  </div>
                </div>
                <% } %>
                <% } %>
             


              </div>
            </div>
          </div>
          <% } %>
          <% } %> -->
          <!-- Ending of Single Order -->
        </div>

      </div>

      <!-- rejected-order -->
      <div class="tab-pane fade" id="rejected-order" role="tabpanel" tabindex="0">
        <div class="mt-5">
          <div class="row">
            <div class="col-md-12">
              <div class="table-wrap" style="overflow-x: auto;">
                <table class="table table-responsive">
                  <thead>
                    <tr>

                      <th scope="col">Order</th>
                      <th scope="col">Placed Date</th>
                      <!-- <th scope="col">Delivey Date</th> -->
                      <th scope="col">Shop Name</th>
                      <th scope="col">Shop Contact Number</th>
                      <th scope="col" hidden>Total Price</th>

                      <th scope="col">Total Order Price</th>
                      <th scope="col">Delivery Charge</th>
                      <th scope="col">Cancel Status</th>

                      <th scope="col" hidden>product name</th>
                      <th scope="col">Action</th>

                    </tr>
                  </thead>
                  <tbody>

                    <% for (var i=0; i < order.length; i++) { %>
                    <!-- <% if (order[i].in_cart == 0) { %>
                                        <% var oID=0 %> -->
                    <% if (order[i].order_status==2 && order[i].request_review==0 && orderCount[1]) { %>
                    <tr>


                      <td style="vertical-align: middle;">
                        <%= order[i].order_id %>
                      </td>

                      <td style="vertical-align: middle;">
                        <%= order[i].placed_date.toISOString().split('T')[0] %></td>
                      <!-- <td style="vertical-align: middle;">
                        <%= order[i].delivery_date.toISOString().split('T')[0] %></td> -->
                      <td style="vertical-align: middle;">

                        <%= order[i].shop_name %>


                      </td>
                      <td style="vertical-align: middle;">

                        <%= order[i].shop_number %>


                      </td>

                      <td style="vertical-align: middle;" hidden>
                        <% var total_price= 0 %>
                        <% var current_order_details = orderDetails.filter(detail => detail.order_id === order[i].order_id) %>
                        <% for (var j=0; j < current_order_details.length; j++) { %>
                        <% if (current_order_details[j].stock_out==0) { %>
                        <% total_price= ((parseFloat(total_price) + parseFloat(current_order_details[j].product_price) * parseFloat(current_order_details[j].product_quantity)  * currRate)).toFixed(2) %>
                        <% } %>
                        <% } %>
                        <p><%= total_price %></p>
                      </td>

                      <td style="vertical-align: middle;">
                        <%= (parseFloat(total_price) ).toFixed(2) %>
                      </td>
                      <td style="vertical-align: middle;">
                        <% deliveryCharge = (parseFloat(order[i].deliveryCharge) * currRate).toFixed(2) %>
                        <p>
                          <%= deliveryCharge %>
                        </p>
                      </td>
                      <!-- <td style="vertical-align: middle;" data-status="<%= order[i].is_paid %>""><% if (order[i].is_paid==0) { %>
                                                                          <span class=" badge rounded-pill"
                                                              style="background-color: rgb(249, 181, 181); color: rgb(170, 29, 29);">Unpaid</span>
                                                              <% } else if (order[i].is_paid==1) { %>
                                                              <span class="badge rounded-pill"
                                                                style="background-color: rgb(169, 241, 217); color: darkgreen;">Paid</span>
                                                              <% } else if (order[i].is_paid==2) { %>
                                                              <abbr title="Cash On Delivery" class="badge rounded-pill"
                                                                style="background-color: rgb(185, 169, 241); color: rgb(31, 13, 224);">COD</abbr>
                                                              <% } %>
                                                              <% if (order[i].seller_confirm == 0) { %>
                                                              <span class="badge rounded-pill"
                                                                style="background-color:bisque; color:rgb(138, 101, 5)">Unchecked</span>
                                                              <% } %>
                                                            </td> -->
                      <td hidden>
                        <% for (var j=0; j < orderDetails.length; j++) { %>
                        <% if (orderDetails[j].order_id==order[i].order_id) { %>

                        <%= orderDetails[j].product_name %> x<%= orderDetails[j].product_quantity %>
                        <% } %>
                        <% } %>
                      </td>
                      <td style="vertical-align: middle; width: 150px;">
                        <% console.log("orderNotes:", orderNotes) %>

                        <% if (orderNotes && orderNotes[order[i].order_id]) { %>

                        <% if (orderNotes[order[i].order_id].from_seller === 1) { %>
                        Shop Cancel
                        <% } else if (orderNotes[order[i].order_id].from_seller === 0) { %>
                        My Cancel
                        <% } %>

                        <!-- Small button to view the note -->
                        <button type="button" class="btn btn-sm btn-primary ms-2" data-bs-toggle="modal"
                          data-bs-target="#noteModal-<%= order[i].order_id %>">
                          Notes
                        </button>

                        <!-- Modal for displaying the cancellation note -->
                        <div class="modal fade" id="noteModal-<%= order[i].order_id %>" tabindex="-1"
                          aria-labelledby="noteModalLabel-<%= order[i].order_id %>" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="noteModalLabel-<%= order[i].order_id %>">Cancel Note for
                                  Order
                                  <%= order[i].order_id %></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <p><strong>Note:</strong> <%= orderNotes[order[i].order_id].cancel_note %></p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <% }  %>

                      </td>
                      <td style="vertical-align: middle;"><a href="/purchase_details/<%= order[i].order_id %>"
                          class="btn border fw-semibold view-eye-btn">
                          <i class="bi bi-eye"></i>

                        </a></td>

                    </tr>
                    <% } %>
                    <% } %>
                    <!-- <% } %> -->

                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- <% for (var i=0; i < order.length; i++) { %>
          <% if (order[i].order_status==2 && order[i].request_review==0) { %>
          <div class="w-100 mb-4 order">
     
            <div class="w-100 text-secondary d-flex flex-column flex-lg-row fs-6">
              <p id="order_id" class="border-lg-end border-secondary pe-5">
                Order ID: <%= order[i].order_id %>
              </p>
              <p id="order_date" class="border-lg-end border-secondary px-lg-5">
                Placed Date : <%= (order[i].placed_date).toISOString().substr(0,10)
                            %>
              </p>
              <p class="border-lg-end border-secondary px-lg-5">Delivery Date : <%=
                            (order[i].delivery_date).toISOString().substr(0,10) %>
              </p>
              <p class="border-lg-end border-secondary px-lg-5 ">Product Price :
                <%= (total_price[order[i].order_id] * currRate).toFixed(2) %>
                <%= currencyCode %>
              </p>
              <p class="ps-lg-5">Delivery Price : <%= (order[i].deliveryCharge *
                            currRate).toFixed(2) %>
                <%= currencyCode %>
              </p>
            </div>

            <div
              class="py-2 w-100 d-flex justify-content-between align-items-start border-bottom border-secondary-subtle">
              <div class="d-flex flex-column gap-2">

                <% for (var j=0; j < orderDetails.length; j++) { %>
                <% if (orderDetails[j].order_id==order[i].order_id) { %>
                <div class="d-flex gap-2 align-items-start">
                  <% for (var k=0; k < image.length; k++) { %>
                  <% if
                                    (image[k].product_id==orderDetails[j].product_id)
                                    { %>
                  <img src="<%= image[k].product_image_url %>" style="width: 4rem" />
                  <% } %>
                  <% } %>
                  <div class="d-flex-flex-column">
                    <a class="text-black"
                      href="/product-details/<%= orderDetails[j].product_name %>/<%= encodeURIComponent(orderDetails[j].product_id) %>">
                      <p class="m-0">
                        <%= orderDetails[j].product_name
                                              %>
                      </p>
                    </a>
                    <p>x<%= orderDetails[j].product_quantity
                                              %>
                    </p>
                  </div>
                </div>
                <% } %>
                <% } %>
    


              </div>
            </div>
          </div>
          <% } %>
          <% } %> -->
          <!-- Ending of Single Order -->
        </div>

      </div>

      <!-- returned-order -->
      <div class="tab-pane fade" id="returned-order" role="tabpanel" tabindex="0">
        <div class="mt-5">

          <div class="row">
            <div class="col-md-12">
              <div class="table-wrap" style="overflow-x: auto;">
                <table class="table table-responsive">
                  <thead>
                    <tr>

                      <th scope="col">Order</th>
                      <th scope="col">Placed Date</th>
                      <th scope="col">Delivey Date</th>
                      <th scope="col">Shop Name</th>
                      <th scope="col">Shop Contact Number</th>
                      <th scope="col" hidden>Total Price</th>

                      <th scope="col">Total Order Price</th>
                      <th scope="col">Delivery Charge</th>
                      <!-- <th scope="col">Status</th> -->

                      <th scope="col" hidden>product name</th>
                      <th scope="col">Action</th>

                    </tr>
                  </thead>
                  <tbody>

                    <% for (var i=0; i < order.length; i++) { %>
                    <!-- <% if (order[i].in_cart == 0) { %>
                              <% var oID=0 %> -->
                    <% if (order[i].order_status==5 && order[i].request_review==0) { %>
                    <tr>


                      <td style="vertical-align: middle;">
                        <%= order[i].order_id %>
                      </td>

                      <td style="vertical-align: middle;">
                        <%= order[i].placed_date.toISOString().split('T')[0] %></td>
                      <td style="vertical-align: middle;">
                        <%= order[i].delivery_date.toISOString().split('T')[0] %></td>
                      <td style="vertical-align: middle;">

                        <%= order[i].shop_name %>


                      </td>
                      <td style="vertical-align: middle;">

                        <%= order[i].shop_number %>


                      </td>

                      <td style="vertical-align: middle;" hidden>
                        <% var total_price= 0 %>
                        <% var current_order_details = orderDetails.filter(detail => detail.order_id === order[i].order_id) %>
                        <% for (var j=0; j < current_order_details.length; j++) { %>
                        <% if (current_order_details[j].stock_out==0) { %>
                        <% total_price= ((parseFloat(total_price) + parseFloat(current_order_details[j].product_price) * parseFloat(current_order_details[j].product_quantity)  * currRate)).toFixed(2) %>
                        <% } %>
                        <% } %>
                        <p><%= total_price %></p>
                      </td>

                      <td style="vertical-align: middle;">
                        <%= (parseFloat(total_price) ).toFixed(2) %>
                      </td>
                      <td style="vertical-align: middle;">
                        <% deliveryCharge = (parseFloat(order[i].deliveryCharge) * currRate).toFixed(2) %>
                        <p>
                          <%= deliveryCharge %>
                        </p>
                      </td>
                      <!-- <td style="vertical-align: middle;" data-status="<%= order[i].is_paid %>""><% if (order[i].is_paid==0) { %>
                                                                <span class=" badge rounded-pill"
                                                    style="background-color: rgb(249, 181, 181); color: rgb(170, 29, 29);">Unpaid</span>
                                                    <% } else if (order[i].is_paid==1) { %>
                                                    <span class="badge rounded-pill"
                                                      style="background-color: rgb(169, 241, 217); color: darkgreen;">Paid</span>
                                                    <% } else if (order[i].is_paid==2) { %>
                                                    <abbr title="Cash On Delivery" class="badge rounded-pill"
                                                      style="background-color: rgb(185, 169, 241); color: rgb(31, 13, 224);">COD</abbr>
                                                    <% } %>
                                                    <% if (order[i].seller_confirm == 0) { %>
                                                    <span class="badge rounded-pill"
                                                      style="background-color:bisque; color:rgb(138, 101, 5)">Unchecked</span>
                                                    <% } %>
                                                  </td> -->
                      <td hidden>
                        <% for (var j=0; j < orderDetails.length; j++) { %>
                        <% if (orderDetails[j].order_id==order[i].order_id) { %>

                        <%= orderDetails[j].product_name %> x<%= orderDetails[j].product_quantity %>
                        <% } %>
                        <% } %>
                      </td>
                      <td style="vertical-align: middle;"><a href="/purchase_details/<%= order[i].order_id %>"
                          class="btn border fw-semibold view-eye-btn">
                          <i class="bi bi-eye"></i>

                        </a></td>

                    </tr>
                    <% } %>
                    <% } %>
                    <!-- <% } %> -->

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- Start of Single Order -->
          <!-- <% for (var i=0; i < order.length; i++) { %>
          <% if (order[i].order_status==5 && order[i].request_review==0) { %>
          <div class="w-100 mb-4 order">
         
            <div class="w-100 text-secondary d-flex flex-column flex-lg-row fs-6">
              <p id="order_id" class="border-lg-end border-secondary pe-5">
                Order ID: <%= order[i].order_id %>
              </p>
              <p id="order_date" class="border-lg-end border-secondary px-lg-5">
                Placed Date : <%= (order[i].placed_date).toISOString().substr(0,10)
                            %>
              </p>
              <p class="border-lg-end border-secondary px-lg-5">Delivery Date : <%=
                            (order[i].delivery_date).toISOString().substr(0,10) %>
              </p>
              <p class="border-lg-end border-secondary px-lg-5 ">Product Price :
                <%= (total_price[order[i].order_id] * currRate).toFixed(2) %>
                <%= currencyCode %>
              </p>
              <p class="ps-lg-5">Delivery Price : <%= (order[i].deliveryCharge *
                            currRate).toFixed(2) %>
                <%= currencyCode %>
              </p>
            </div>
    
            <div
              class="py-2 w-100 d-flex justify-content-between align-items-start border-bottom border-secondary-subtle">
              <div class="d-flex flex-column gap-2">
          
                <% for (var j=0; j < orderDetails.length; j++) { %>
                <% if (orderDetails[j].order_id==order[i].order_id) { %>
                <div class="d-flex gap-2 align-items-start">
                  <% for (var k=0; k < image.length; k++) { %>
                  <% if
                                    (image[k].product_id==orderDetails[j].product_id)
                                    { %>
                  <img src="<%= image[k].product_image_url %>" style="width: 4rem" />
                  <% } %>
                  <% } %>
                  <div class="d-flex-flex-column">
                    <a class="text-black"
                      href="/product-details/<%= orderDetails[j].product_name %>/<%= encodeURIComponent(orderDetails[j].product_id) %>">
                      <p class="m-0">
                        <%= orderDetails[j].product_name
                                              %>
                      </p>
                    </a>
                    <p>x<%= orderDetails[j].product_quantity
                                              %>
                    </p>
                  </div>
                </div>
                <% } %>
                <% } %>
          


              </div>
            </div>
          </div>
          <% } %>
          <% } %> -->
          <!-- Ending of Single Order -->
        </div>

      </div>

    </div>
  </div>


</div>





<script>
  const returnButtons = document.querySelectorAll('[id^="returnOrderBtn_"]');
  returnButtons.forEach((returnButton) => {
    returnButton.addEventListener("click", handleReturnButtonClick);
  });


  function handleReturnButtonClick(event) {
    const index = event.currentTarget.dataset.index;
    const divForReturn = document.getElementById("divForReturn_" + index);

    const returnForm = document.createElement("form");
    returnForm.action = "/returnOrder/" + index;
    returnForm.method = "POST";

    const inputSection = document.createElement("div");
    inputSection.className = "input-group mb-3";


    const inputElement = document.createElement("input");
    inputElement.type = "text";
    inputElement.name = "reason";
    inputElement.className = "form-control";
    inputElement.placeholder = "Enter reason for return";

    const correctButton = document.createElement("button");
    correctButton.type = "submit";
    correctButton.className = "btn btn-outline-success mx-2";
    correctButton.innerHTML = '<i class="bi bi-check"></i>';
    const wrongButton = document.createElement("button");
    wrongButton.type = "button";
    wrongButton.className = "btn btn-outline-danger";
    wrongButton.innerHTML = '<i class="bi bi-x"></i>';
    wrongButton.addEventListener("click", handleCancelButtonClick);

    inputSection.appendChild(inputElement);

    returnForm.appendChild(inputSection);
    returnForm.appendChild(correctButton);
    returnForm.appendChild(wrongButton);

    divForReturn.innerHTML = "";
    divForReturn.appendChild(returnForm);
  }

  function handleCancelButtonClick() {
    location.reload();
  }
</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>

<script>
  $(document).ready(function () {
    $('input[aria-label="Search"]').on('keyup', function () {
      var searchVal = $(this).val();
      console.log(searchVal)
      $('#review-order, #returned-order, #rejected-order, #confirmed-order, #accepted-order, #new-order').each(function () {
        $(this).find('.order').each(function () {
          var orderId = $(this).find('#order_id').text();
          console.log(orderId)
          console.log(searchVal, ' - ', orderId, ' | ', orderId.includes(searchVal))
          if (orderId.includes(searchVal)) {
            $(this).show();
          } else {
            $(this).hide();
          }
        })
      });
    });
  });
</script>

<!-- Filter script -->
<script src="./js/moment.min.js"></script>
<script src="./js/daterangepicker.js" defer></script>

<script type="text/javascript">
  $(function () {

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
      $('#reportrange span').html(start.format('MMM D, YYYY') + ' - ' + end.format('MMM D, YYYY'));

      // If no range is selected, show all orders
      if (!start || !end) {
        $('#review-order,#returned-order, #rejected-order, #confirmed-order, #accepted-order, #new-order').show();
        return;
      }

      // Iterate through each parent div and check if the order date is within the selected range
      $('#review-order,#returned-order, #rejected-order, #confirmed-order, #accepted-order, #new-order').each(function () {
        $(this).find('.order').each(function () {
          var orderDate = moment($(this).find('#order_date').text().replace('Placed Date:',), 'YYYY-MM-DD');
          if (orderDate.isBetween(start, end, null, '[]')) {
            // Order date is within the selected range, show the parent div
            $(this).show();
          } else {
            // Order date is outside the selected range, hide the parent div
            $(this).hide();
          }
        });
      })
    }

    $('#reportrange').daterangepicker({
      startDate: start,
      endDate: end,
      ranges: {
        'Today': [moment(), moment()],
        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
        'This Month': [moment().startOf('month'), moment().endOf('month')],
        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
      }
    }, cb);

    cb(); // Call initially to show all orders

  });
</script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
  $('input[name="update_quantity"]').on('input', function() {
    var max = parseInt($(this).attr('max'));
    if ($(this).val() > max || $(this).val() < 0) {
      $(this).val(max);
    }
  });
});
</script> -->

<%- //include('footer'); -%>

<%- include('../footer-one'); -%>